h1 {
  font-size: xx-large;
}

img {
  width: 100%;
}

blockquote {
  margin: 8px;
  padding: 4px;
  background-color: lightgrey;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid black;
  background-color: lightgrey;
}

td,
th {
  text-align: start;
  border-right: 1px solid black;
}

td:last-of-type,
th:last-of-type {
  border: none;
}
