*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
}

html {
  --primary-color: #3aaed8;
  --primary-color-dark: #2a86a8;
  --light-text-color: #898787;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 24px;
}
