---
import HeaderLink from './HeaderLink.astro'
---

<header class="header">
  <img src='/profile.jpg' alt='Profile picture' class="profile" />
  <h2 class='title'>Nick Coffey</h2>
  <nav class="navbar">
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/about'>About</HeaderLink>
    <HeaderLink href='/blog'>Blog</HeaderLink>
  </nav>
</header>

<style>
  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }

  .profile {
    border-radius: 100%;
    width: 30%;
    margin: auto;
    display: block;
  }
  .title {
    text-align: center;
    font-size: 174%;
  }

  .navbar {
    display: flex;
    justify-content: space-evenly;
  }
</style>
