---
import HeaderLink from './HeaderLink.astro'
---

<header>
  <h2 class="title">Nick Coffey</h2>
  <nav>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/about'>About</HeaderLink>
    <HeaderLink href='/blog'>Blog</HeaderLink>
    <HeaderLink href='https://github.com/withastro/astro' target='_blank'>GitHub</HeaderLink>
  </nav>
</header>

<style>
  .title {
	text-align: center;
	margin-bottom: 8px;
  }

  nav {
	display: flex;
	justify-content: space-between;
  }
</style>
