---
import HeaderLink from './HeaderLink.astro'
---

<header class='header'>
  <img src='/profile.jpg' alt='Profile picture' class='profile' />
  <div class='title-container'>
    <h2 class='title'>Nick Coffey</h2>
    <p class='sub-title'>Fullstack Developer</p>
  </div>
  <nav class='navbar'>
    <HeaderLink href='/'>Posts</HeaderLink>
    <HeaderLink href='/projects'>Projects</HeaderLink>
    <HeaderLink href='/about'>About</HeaderLink>
  </nav>
</header>

<style>
  .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  .profile {
    border-radius: 100%;
    width: 30%;
    margin: auto;
    display: block;
  }

  .title-container {
    text-align: center;
  }

  .title {
    font-size: 200%;
  }

  .sub-title {
    color: var(--light-text-color);
  }

  .navbar {
    display: flex;
    justify-content: space-evenly;
  }
</style>
