---
title: Home
layout: base
---

<section class='flex flex-col items-center gap-2'>
    <img class='rounded-full w-2/3' src="assets/profile.webp" alt="Profile Picture">
    <h1 class='text-4xl font-semibold text-center'>Hello I'm Nick Coffey</h1>
</section>